$color__theme: #fa7070;
$color__theme-2: #7052fb;
$color__heading: #2b2350;
$color__body: #797687;
$color__theme_accent: #3564ac;
$color__bg: #f3ecec;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #333;
$color__link-visited: #c59d5f;
$color__link-hover: #fa7070;
$color__text-heading2: #0e2549;
$color__text-heading: #333;
$color__text-main: #797687;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color_gradient: linear-gradient( -90deg, rgb(50,36,175) 0%, rgb(201,109,216) 100%);
$color_gradient_hover: linear-gradient( 45deg, rgb(99,82,251) 0%, rgb(201,109,216) 100%);
$gradient_background_2: linear-gradient(-60deg, rgb(112, 82, 251) 0%, rgb(138, 96, 253) 100%);



